<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warenkorb</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <a class="header-logo">Warenkorb</a>
                <nav class="nav">
                    <ul>
                        <li class="nav-list">
                            <a href="#" class="nav-link">Home</a>
                        </li>
                        <li class="nav-list">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-list">
                            <a href="#" class="nav-link">About us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <body>
        <div class="container">
                <h1 class="headline">Waren</h1>
            <div class="cards">

            </div>


        </div>
    </body>
    <script src="/js/main.js"></script>
</html>
