.header {
  padding: 1rem 0;
  .header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header-logo {
      font-size: 2rem;
      font-weight: 600;
    }

    .nav ul {
      display: flex;
      flex-direction: row;

      .nav-list {
        list-style: none;
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }

        .nav-link {
          color: #000000;
          text-decoration: none;

          &:hover {
            color: #dca534;
          }
        }
      }
    }
  }
}